<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DatabaseFactory.DatabaseFactorySectionHandler, DatabaseFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <clear/>
    <add name="DbConn" connectionString="SERVER=localhost; DATABASE=gocomics; UID=root; PASSWORD=515667;" />
  </connectionStrings>
  <DatabaseFactoryConfiguration Name="GoComics.DAL.MySqlDatabase, GoComics" ConnectionStringName="DbConn" />
  <appSettings>
    <add key="DefaultCulture" value="en-US" />
    <add key="rootFolder" value="D:\\Downloads\\" />
    <add key="comicsFolder" value="comics\\" />
    <add key="getDaysBefore" value="60" />
    <add key="startDayOffest" value="0" />
  </appSettings>
</configuration>